<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>%htmltitle%</title>
	<meta name="keywords" content="%keywords%" />
  <meta name="description" content="%description%" />	
	<meta name="author" content="Klemen Kenda, Spletne rešitve s.p." />
	<script language="JavaScript" type="text/javascript" src="/template/js/decoder.js"></script>		
	<link rel="stylesheet" type="text/css" href="/print_style.css" />
</head>
<body onLoad="print();">
%VAR:PRINT_HEADER%
<hr>
<h1>%title%</h1>
%content%
%plugin2%
</body>
</html>